body {
  background: #fafafa;
  color: #4b5679;
}

.card {
  position: relative;
  overflow: hidden;
  width: 660px;
  height: 440px;
  border-radius: 16px;
  background: #ffffff;
  text-align: center;
}

.card-bg {
  position: absolute;
  z-index: 2;
  inset: 0;
  width: 50%;
  background: #3a5ed4;
  transition: 0.5s;
}

.card-bg.signin {
  translate: 100% 0;
}

.hero,
.form {
  position: absolute;
  width: 50%;
  height: 100%;
  transition: 0.5s;
}

.hero.signin {
  left: 50%;
  translate: 25% 0;
}

.hero.signin.active {
  translate: 0;
}

.hero.signup {
  translate: -25% 0;
}

.hero.signup.active {
  translate: 0;
}

.hero {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 50%;
  color: #f9f9f9;
  padding: 0 24%;
}

.hero button {
  padding: 12px 40px;
  border-radius: 32px;
  border: 1px solid #f9f9f9;
  background: transparent;
}

h2 {
  margin: 0;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.form.signin {
  translate: 50% 0;
}

.form.signin.active {
  translate: 0;
}

.form.signup {
  left: 50%;
  translate: -50% 0;
}

.form.signup.active {
  translate: 0;
}

.form {
  background: #ffffff;
  z-index: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 32px;
}

.form p {
  opacity: 0.5;
  font-size: 12px;
}

.form input {
  border-radius: 10px;
  border: 0;
  background: #eef0f7;
  padding: 14px 12px;
}

.form input::placeholder {
  color: #a0a2b6;
}

.form button {
  border: 0;
  padding: 14px 0;
  border-radius: 32px;
  width: 160px;
  background: #3a5ed4;
  color: #f9f9f9;
}
